﻿<!DOCTYPE html>
<html ng-app="pwApp" lang="ru"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>PW Application</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body ng-cloak>

    <div id="wrap" class="body-content">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button id="tabsToogle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#headerNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a title="Перейти на главную страницу" href="/#!/" class="navbar-brand">
                        <span class="glyphicon glyphicon-home"></span> Главная
                    </a>
                </div>
                <div id="headerNavbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/#!/addTransaction"><span class="glyphicon glyphicon-plus"></span> Создать транзакцию</a>
                        </li>
                        <li>
                            <a href="/#!/transactions"><span class="glyphicon glyphicon-transfer"></span> История транзакций</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" ng-if="authentication.isAuth">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span class="glyphicon glyphicon-user"></span> {{authentication.userName}} | {{authentication.balance}} pw
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="" ng-click="logOut()" class="glyphicon glyphicon-log-out"> Выйти</a></li>
                            </ul>
                        </li>
                        <li ng-if="!authentication.isAuth">
                            <a href="/#!/singin"><span class="glyphicon glyphicon-user"></span> Вход</a>
                        </li>
                        <li ng-if="!authentication.isAuth">
                            <a href="/#!/singup"><span class="glyphicon glyphicon-user"></span> Регистрация</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="main" class="container">
            <div ng-view></div>
        </div>
    </div>

    <footer class="navbar-inverse">
        <p class="text-center">
            <span class="fcopy"> &copy; 2017</span>
        </p>
    </footer>

    <!-- bower:js -->
    <!-- endbower -->
    <!-- inject:js -->
    <!-- endinject -->

</body>
</html>