﻿.fcopy{
    margin: 20px 10px;
    color: white;
}

.img-center {
    margin:0 auto;
}

/*login form*/
.wrap-form{
    width: 550px;
    margin: 10% auto;
    border: solid #ccc 1px;
    border-radius: 6px;
    padding: 20px 40px;
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
}
.form-login{
    text-align: center;
    padding-bottom: 20px;
}

.form-login h2 {
    margin-bottom: 15px
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: inline-block;
    height: 50px
}

footer p {
    margin-top: 20px;
}

.home-page{
    width: 100%;
    height: 100%;
}

.wrap-home-block{
    position: relative;
    top: 100px;
    display: flex;
    height: 45%;
    width: 70%;
    margin-left: 15%;
}
/*Главные кнопки в домашней странице*/
.home-btn{
    margin: auto;
    height: 50%;
}

.home-btn .icon-btn {
    text-align: center;
    height: 100%;
    border: solid 5px #337ab7;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.home-btn a {
    display: block;
    padding: 20px;
    text-decoration: none
}
.home-btn a:hover {
    text-decoration: none
}

.home-btn .icon-btn span {
    font-size: 80px;
}


.wrap-tpl{
    min-width: 900px;
    padding-top: 60px;
}

.trn-tbl{
    margin-top: 20px;
    text-align: center;
}