﻿<div class="wrap-form">
    <form name="singinForm" class="form-login" role="form">
        <h2 class="form-login-heading text-center">Регистрация</h2>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Имя</label>
            <input name="loginText" required type="text" ng-model="newUser.name" class="ng-pristine ng-untouched ng-valid">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Email</label>
            <input name="loginText" required type="email" ng-model="newUser.email" class="ng-pristine ng-untouched ng-valid" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Пароль</label>
            <input name="pass" required type="password" ng-model="newUser.password" class="ng-pristine ng-untouched ng-valid">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Повторите пароль</label>
            <input name="confirmPassword" required type="password" ng-model="newUser.confirmPassword" class="ng-pristine ng-untouched ng-valid" same-as="newUser.password">
            <div ng-messages="singinForm.confirmPassword.$error" role="alert">
                <div ng-message="sameAs">Пароли не совпадают.</div>
            </div>
        </md-input-container>
        <md-button class="md-raised md-primary" type="submit" ng-click="singinForm.$valid && save()"><span class="glyphicon glyphicon-log-in"></span> Зарегистрироваться</md-button>
    </form>
</div>