﻿<div class="wrap-form">
    <form name="loginForm" class="form-login" role="form">
        <h2 class="form-login-heading text-center">Вход в систему</h2>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Email</label>
            <input name="loginText" required type="email" ng-model="loginForm.login" class="ng-pristine ng-untouched ng-valid pesonal-info" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Пароль</label>
            <input name="pass" required type="password" ng-model="loginForm.password" class="ng-pristine ng-untouched ng-valid pesonal-info">
        </md-input-container>
        <md-button class="md-raised md-primary" type="submit" ng-click="loginForm.$valid && login()"><span class="glyphicon glyphicon-log-in"></span> Войти</md-button>
    </form>
</div>