﻿<div class="home-page">
    <div class="wrap-home-block">

        <div class="home-btn">
            <div class="conta">
                <a href="/#!/addTransaction" class="icon-btn">
                    <span class="glyphicon glyphicon-plus"></span><br />Создать транзакцию
                </a>
            </div>
        </div>

        <div class="home-btn">
            <a href="/#!/transactions" class="icon-btn">
                <span class="glyphicon glyphicon-transfer"></span><br />История транзакций
            </a>
        </div>

    </div>
</div>
