﻿<div class="wrapper row2">
    <div id="container" class="clear">
        <section id="fof" class="clear">
            <h1 class="text-center text-info">WHOOPS!</h1>
            <img class="img-responsive img-center" src="/Img/errors/404.png" alt="">
            <br />
            <h3 class="text-center text-info">Такой страницы не существует.</h3>
            <p class="text-center">
                Вы можете вернуться на <a href="javascript:history.go(-1)">предыдущую страницу</a> или посетить <a href="/#!/">Главную страницу</a>
            </p>
        </section>
    </div>
</div>