﻿<br/>
<br/>
<div class="container">
    <form name="trnForm">
        
        <md-select placeholder="Отправить пользователю" 
                   ng-model="receiverId" 
                   md-on-open="loadUsers()" 
                   style="min-width: 250px;">
            <md-option ng-value="user.id" ng-repeat="user in users">{{user.name}}({{user.email}})</md-option>
        </md-select>
        
        <div ng-if="allowTransaction && receiverId">
            
            <md-input-container class="md-block" flex-gt-xs>
                <label>Введите сумму</label>
                <input name="amount" required 
                       type="text" ng-model="transaction.amount" 
                       class="ng-pristine ng-untouched ng-valid" pattern="[0-9]+,[0-9.]{1,2}$|[0-9]+">
                <div ng-messages="trnForm.amount.$error" role="alert">
                    <div ng-message="required">Обязательное поле</div>
                    <div ng-message="pattern">Введите только числа с разделителем ",", например, 100,0</div>
                </div>
            </md-input-container>
            
            <md-button class="md-raised md-primary" type="submit" ng-click="trnForm.$valid && confirm()"><span class="glyphicon glyphicon-log-in"></span> Подтвердить транзакцию</md-button>

        </div>
        
    </form>

</div>