﻿<div class="wrap-tpl">
    <table class="table table-condensed table-striped trn-tbl">
        <thead>
        <tr>
            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-2 text-center" style="vertical-align: middle">*</th>
            <th class="col-lg-2 col-md-1 col-sm-1 col-xs-2 text-center" style="vertical-align: middle">
                <a href="" ng-click="sort.orderByField='date'; sort.reverseSort = !sort.reverseSort">
                    Дата <span ng-show="sort.orderByField == 'date'"><span ng-show="sort.reverseSort" class="glyphicon glyphicon-chevron-down"></span><span ng-show="!sort.reverseSort" class="glyphicon glyphicon-chevron-up"></span></span>
                </a>
            </th> <!--1-->
            <th class="col-lg-4 col-md-3 col-sm-3 col-xs-2 text-center" style="vertical-align: middle">
                <a href="" ng-click="sort.orderByField='correspondentName'; sort.reverseSort = !sort.reverseSort">
                    Инициатор <span ng-show="sort.orderByField == 'correspondentName'"><span ng-show="sort.reverseSort" class="glyphicon glyphicon-chevron-down"></span><span ng-show="!sort.reverseSort" class="glyphicon glyphicon-chevron-up"></span></span>
                </a>
            </th> <!--3-->
            <th class="col-lg-2 col-md-3 col-sm-2 col-xs-2 text-center" style="vertical-align: middle">
                <a href="" ng-click="sort.orderByField='amount'; sort.reverseSort = !sort.reverseSort">
                    Сумма транзакции <span ng-show="sort.orderByField == 'amount'"><span ng-show="sort.reverseSort" class="glyphicon glyphicon-chevron-down"></span><span ng-show="!sort.reverseSort" class="glyphicon glyphicon-chevron-up"></span></span>
                </a>
            </th> <!--4-->
            <th class="col-lg-2 col-md-3 col-sm-2 col-xs-2 text-center" style="vertical-align: middle">
                <a href="" ng-click="sort.orderByField='resultBalance'; sort.reverseSort = !sort.reverseSort">
                    Остаток на счете <span ng-show="sort.orderByField == 'resultBalance'"><span ng-show="sort.reverseSort" class="glyphicon glyphicon-chevron-down"></span><span ng-show="!sort.reverseSort" class="glyphicon glyphicon-chevron-up"></span></span>
                </a>
            </th> <!--5-->
        </tr>
        </thead>
        <tbody>
        <tr class="clickable-table-row" ng-repeat="row in data | orderBy:sort.orderByField:sort.reverseSort | startFrom:(pagination.currentPage-1)*pagination.pageSize | limitTo:pagination.pageSize">
            <td><input type="button" class="btn btn-info" ng-click="copy(row)" value="Копировать" ng-if="row.correspondentId === currentUserId"/></td>
            <td class="text-center" style="vertical-align: middle">{{!row.date ? '-' : row.date.toString() === '0001-01-01T00:00:00' ? '-' : (row.date | date: "dd.MM.yyyy HH:mm:ss")}}</td>
            <td class="text-center" style="vertical-align: middle">{{row.correspondentName}}</td>
            <td class="text-center" style="vertical-align: middle">{{row.amount}}</td>
            <td class="text-center" style="vertical-align: middle">{{row.resultBalance}}</td>
        </tr>
        </tbody>
    </table>
    <ul uib-pagination ng-if="pagination.totalPages > pagination.pageSize"
        total-items="pagination.totalPages"
        ng-model="pagination.currentPage"
        max-size="pagination.maxSize"
        items-per-page="pagination.pageSize"
        class="pagination-sm"
        boundary-links="true"
        force-ellipses="true"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"
        first-text="&laquo;"
        last-text="&raquo;"
        ng-change="pagination.pageChanged()"></ul>
</div>
